{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>バビ語翻訳</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={% static 'images/favicon.ico' %}>

    <!-- Loading Bootstrap -->
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
    <link href="{% static 'css/flat-ui.min.css' %}" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-lg navbar-expand-lg" role="navigation">
      <a class="navbar-brand" href="">バビ語翻訳</a>
    </nav><!-- /navbar -->

    <div class="container">
      <h2><img src="{% static 'images/top.webp' %}" class="img-fluid"></h2>
      <h3>言葉の間に「ばびぶべぼ」を入れます</h3>
      <p>例</p>
      <p>こんにちは　→　こ<strong>ぼ</strong>ん<strong>ぶ</strong>に<strong>び</strong>ち<strong>び</strong>は<strong>ば</strong></p>
      <p>サバイバルゲーム　→　サ<strong>バ</strong>バ<strong>バ</strong>イ<strong>ビ</strong>バ<strong>バ</strong>ル<strong>ブ</strong>ゲ<strong>ベ</strong>ーム<strong>ブ</strong></p>

      <form method="post" action="/">
        {% csrf_token %}
        <div class="form-group">
          {% if before_text %}
            <textarea name="before-text" class="form-control" id="before-text" rows="5" placeholder="文章を入力してください">{{ before_text }}</textarea>
          {% else %}
            <textarea name="before-text" class="form-control" id="before-text" rows="5" placeholder="文章を入力してください">バビ語に変換したいテキストを入力します。

「変換モード」でバビ語のひらがな/カタカナを切り替えられます。</textarea>
          {% endif %}
        </div>
        <div class="form-check">変換モード
          <label class="radio">
            <input type="radio" name="useonly" id="modeRadios1" value="" checked="checked" data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            標準（ひらがな、カタカナはそのままにします）
          </label>
          <label class="radio">
            <input type="radio" name="useonly" id="modeRadios1" value="hira" {% if useonly == 'hira' %}checked="checked"{% endif %} data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            ひらがなのみ
          </label>
          <label class="radio">
            <input type="radio" name="useonly" id="modeRadios1" value="kata" {% if useonly == 'kata' %}checked="checked"{% endif %} data-toggle="radio" class="custom-radio"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
            カタカナのみ
          </label>
        </div>
        <button type="submit" class="btn btn-primary">変換</button>
      </form>

      <!-- 変換後テキストエリア -->
      <div class="form-group" style="margin: 20px 0;">
        <textarea class="form-control" id="after-text" rows="5">{{ after_text }}</textarea>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/flat-ui.min.js' %}"></script>

  </body>
</html>
